{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>Prochains anniversaires</h2>
</div>

{% if relatives is not empty %}
<ul class="list-group">
{% for relative in relatives %}
        <li class="list-group-item list-group-item-action">
            {{ relative.nextBirthday|date("d/m") }} : {{ relative.firstname|capitalize }} ({{ relative.age + 1 }} {{ relative.age ? 'ans' : 'an' }})
        </li>
{% endfor %}
</ul>
{% else %}
<p>
    Aucun proche créé pour le moment !<br>
    Ajouter des proches pour voir ici leurs prochains anniversaires.
</p>
<a href="{{ path('relative_add') }}" class="btn btn-primary">Ajouter des proches</a>
{% endif %}

{% endblock %}
