{% extends 'base.html.twig' %}

{% block body %}

<h2>Ajouter un foyer à la liste </h2>

{{ form_start(homeForm) }}
	<div class="relatives-choice">
		{{ form_label(homeForm.relatives) }}
		{{ form_widget(homeForm.relatives) }}
		Choisir dans la liste ci-dessus, ou<a href="{{ path('relative_add', { redirectTo: app.request.getPathInfo }) }}" class="p-1 mb-2">cliquer ici pour créer une nouvelle personne</a>
	</div>
	<hr>
	{{ form_row(homeForm.name) }}
	{{ form_row(homeForm.isUserHome) }}
	{{ form_row(homeForm.postCode) }}
	{{ form_row(homeForm.cityName) }}
	{{ form_row(homeForm.country) }}
	<input type="submit" value="Valider" class="btn btn-primary mt-3 mr-2">
	<a href="{{ path('home_list') }}" class="btn btn-warning mt-3">Retour à la liste des foyers</a>
{{ form_end(homeForm) }}

{% endblock %}
