{% extends 'base.html.twig' %}

{% block body %}


{% if homes is not empty %}
<div class="d-flex flex-row justify-content-between">
    <h2>Liste des foyers</h2>
    <div>
        <a href="{{ path('home_add') }}" class="btn btn-primary">Ajouter</a>
    </div>
</div>

<div class="row">
{% for home in homes %}
    <div class="col-md-4">
        <div class="card">
                <h4 class="card-header">
                    Foyer {{ home.name|capitalize }}
                    <a href="{{ path('home_update', {id: home.id}) }}"><i class="fas fa-edit float-right" style="font-size:0.7em"></i></a>
                </h4>
                <div class="card-body">
                <p>À {{ home.cityName }} ({{ home.postCode }}, {{ home.country }})</p>
                {% if home.getRelatives() is not empty %}
                <h5>Membres du foyer :</h5>
                <ul class="list-unstyled">
                {% for relative in home.getRelatives() %}
                    <li>
                    <a href="{{ path('relative_view', {id: relative.id}) }}">{{ relative.getFullName }}</a>
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% else %}
<h2>Liste des foyers</h2>
<p>Aucun foyer créé pour le moment !</p>
<a href="{{ path('home_add') }}" class="btn btn-primary">Ajouter des foyers</a>
{% endif %}

{% endblock %}
