{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>Modifier les informations du foyer "{{ home.name|capitalize }}" </h2>

    <div>
        <a onClick="return confirm('Confirmez la suppression');" href="{{ path('home_delete', {'id': home.id}) }}" class="btn btn-danger">Supprimer</a>
    </div>
</div>

	{{ form_start(homeForm) }}
	    {{ form_row(homeForm.name) }}
		{{ form_row(homeForm.isUserHome) }}
	    {{ form_row(homeForm.postCode) }}
	    {{ form_row(homeForm.cityName) }}
	    {{ form_row(homeForm.country) }}
	    {{ form_label(homeForm.relatives) }}
		<a href="{{ path('relative_add') }}" class="p-1 mb-2">cliquer ici pour créer une nouvelle personne</a>
	    {{ form_widget(homeForm.relatives) }}
	    <input type="submit" value="Valider" class="btn btn-primary mt-3">
		<a href="{{ path('home_list') }}" class="btn btn-warning mt-3">Retour à la liste des foyers</a>
	{{ form_end(homeForm) }}

{% endblock %}
