{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>Modifier les informations de {{ relative.firstname }} </h2>

    <div>
        <a onClick="return confirm('Confirmez la suppression');" href="{{ path('relative_delete', {'id': relative.id}) }}" class="btn btn-danger">Supprimer</a>
    </div>
</div>

	{{ form_start(relativeForm) }}
	    {{ form_row(relativeForm.firstname) }}
	    {{ form_row(relativeForm.lastname) }}
	    {{ form_row(relativeForm.birthdate) }}
	    {{ form_label(relativeForm.homes) }}
		<a href="{{ path('home_add') }}" class="p-1 mb-2">cliquer ici pour créer un nouveau foyer</a>
	    {{ form_widget(relativeForm.homes) }}
	    <input type="submit" value="Valider" class="btn btn-primary mt-3 mr-2">
		<a href="{{ path('relative_list') }}" class="btn btn-warning mt-3">Retour à la liste</a>
	{{ form_end(relativeForm) }}

{% endblock %}
