{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>{{ relative.firstname }} {{ relative.lastname }}</h2>
    <div>
        <a href="{{ path('relative_update', {'id': relative.id}) }}" class="btn btn-primary">Modifier</a>
    </div>
</div>

<p>&#127968; Vit a {{ relative.getHome().cityName }}, {{ relative.getHome().postCode }}</p>
{% if relative.birthdate is not null %}
<p>&#128197; Date de naissance : {{ relative.birthdate|date("d\\/m\\/Y") }}</p>
{% endif %}


{% endblock %}
