{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between">
    <h2>{{ relative.getFullName() }}</h2>
    <div>
        <a href="{{ path('relative_update', {'id': relative.id}) }}" class="btn btn-primary">Modifier</a>
    </div>
</div>

{% if relative.homes is not null %}
{% for home in relative.homes %}
    <p>&#127968; Habite a {{ home.cityName }}, {{ home.postCode }}</p>

    <div class="d-flex flex-row justify-content-left">
        {% if home.getRelatives()|length() > 1 %}
            <p class="mr-2">Avec
                {% for homeRelative in home.getRelatives() %}
                    {% if homeRelative.id is not same as(relative.id) %}
                        &#128522; {{ homeRelative.firstname|capitalize }}
                        {# TODO {% if not loop.last %}
                        et
                        {% endif %} #}
                    {% endif %}
                {% endfor %}
            </p>
        <p>(foyer "{{ home.name|capitalize }}")
        {% endif %}</p>
    </div>
{% endfor %}
{% endif %}

{% if relative.birthdate is not null %}
<p>&#128197; Date de naissance : {{ relative.birthdate|date("d\\/m\\/Y") }}</p>
<p>&#8986; Âge : {{ relative.age }} ans</p>
{% endif %}


{% endblock %}
