{% extends 'base.html.twig' %}

{% block body %}

{#
https://www.flaticon.com/packs/weather-53?word=weather
https://www.flaticon.com/packs/weather-158?word=weather 
https://www.flaticon.com/packs/weather-407?word=weather
https://www.flaticon.com/packs/weather-161?word=weather
https://www.flaticon.com/packs/weather-375?word=weather
https://www.flaticon.com/packs/weather-351?word=weather
https://www.flaticon.com/packs/weather-forecast?word=weather
#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1>Bienvenue sur la météo des proches !</h1>
                <blockquote>{{ random(quote) }}</blockquote>
                <hr>
                {# <div class="col-12"> #}
                    <h3>À la maison</h3>
                        {% for home in homes %}
                        {% set meteo = meteos[home.id] %}
                        {% set icon =  meteo.current.weather[0].icon %}
                        {% set windInKmh = 3.114 %}
                            {% if home.name is same as ('Maison') %}

                            <div class="d-flex flex-row justify-content-left align-items-sm-center">
                                <img class="mr-5" src="{{ asset('images/weathericons/' ~ icon ~ '.png') }}" width="30%" alt="meteo"/>
                                <div>
                                    <p>
                                        <img src="{{ asset('images/weathericons/temperature.png') }}" width="40px" alt="Temperature"/>
                                            {{ meteo.current.temp|number_format }} °C
                                    </p>
                                    <p>
                                        <img src="{{ asset('images/weathericons/sunrise.png') }}" width="40px" alt="Lever du soleil"/>
                                            {{ meteo.daily[0].sunrise|date("H\\hi") }}
                                        <img src="{{ asset('images/weathericons/sunset.png') }}" width="40px" alt="Coucher du soleil"/>
                                            {{ meteo.daily[0].sunset|date("H\\hi") }}
                                    </p>
                                    <p>
                                        <img src="{{ asset('images/weathericons/wind.png') }}" width="40px" alt="Vent"/>
                                            {{ (meteo.daily[0].wind_speed)*windInKmh|round }} km/h
                                    </p>
                                    <p>Jours a venir :</p>
                                    <img src="{{ asset('images/weathericons/' ~ meteo.daily[1].weather[0].icon ~'.png') }}" width="40px" alt="Temperature"/>
                                    <img src="{{ asset('images/weathericons/' ~ meteo.daily[2].weather[0].icon ~'.png') }}" width="40px" alt="Temperature"/>
                                    <img src="{{ asset('images/weathericons/' ~ meteo.daily[3].weather[0].icon ~'.png') }}" width="40px" alt="Temperature"/>
                                    <img src="{{ asset('images/weathericons/' ~ meteo.daily[4].weather[0].icon ~'.png') }}" width="40px" alt="Temperature"/>
                                    <img src="{{ asset('images/weathericons/' ~ meteo.daily[5].weather[0].icon ~'.png') }}" width="40px" alt="Temperature"/>
                                    <img src="{{ asset('images/weathericons/' ~ meteo.daily[6].weather[0].icon ~'.png') }}" width="40px" alt="Temperature"/>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                {# </div> #}
                {# <div class="col-12"> #}
                <hr>

                    <h3>Chez les proches</h3>
                        <div class="row">
                            {# CARTE PROCHE #}
                            {% for home in homes %}
                            {% set meteo = meteos[home.id] %}
                            {% set icon =  meteo.current.weather[0].icon %}
                            {% set windInKmh = 3.114 %}
                                {% if home.name is not same as ('Maison') %}
                                <div class="card m-3" style="width: 18rem;">
                                    <div class="card-body">
                                        <div class="card-title flex">
                                            <h5>
                                                Chez
                                                    {% for relative in home.relatives %}
                                                        {% if not loop.first %}
                                                        et
                                                        {% endif %}
                                                        <a href="{{ path('relative_view', {id: relative.id}) }}">
                                                        {{ relative.firstname }}
                                                        </a>
                                                    {% endfor %}
                                            </h5>
                                            <ph6>À {{ home.cityName }}</ph6>
                                        </div>
                                        <img class="card-img-top" src="{{ asset('images/weathericons/' ~ icon ~ '.png') }}" alt="{{ meteo.current.weather[0].description }}"/>
                                        
                                        <p>
                                            <img src="{{ asset('images/weathericons/temperature.png') }}" width="40px" alt="Temperature"/>
                                                {{ meteo.current.temp|number_format }} °C
                                        </p>
                                        <p>
                                            <img src="{{ asset('images/weathericons/sunrise.png') }}" width="40px" alt="Lever du soleil"/>
                                                {{ meteo.daily[0].sunrise|date("H\\hi") }}
                                        </p>
                                        <p>
                                            <img src="{{ asset('images/weathericons/sunset.png') }}" width="40px" alt="Coucher du soleil"/>
                                                {{ meteo.daily[0].sunset|date("H\\hi") }}
                                        </p>
                                        <p>
                                            <img src="{{ asset('images/weathericons/wind.png') }}" width="40px" alt="Vent"/>
                                                {{ (meteo.daily[0].wind_speed)*windInKmh|round }} km/h
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                {# </div> #}
            </div>
        </div>
    </div>
    
    <div style="font-size:0.7em">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

{% endblock %}
